<head>
  <meta charset='utf-8'>
  <meta http-equiv='X-UA-Compatible' content='IE=edge'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <meta name='description' content='{{ site.description }}'>

  <title>{{ site.title }}</title>

  <script src="{{ site.baseurl }}/assets/app.js" type="text/javascript" charset="utf-8" async defer></script>
  <link href='{{ site.baseurl }}/assets/app.css' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Bungee|Montserrat:400,400i,700,700i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Outline&text=OldTimeWasters%20" rel="stylesheet">
</head>