<header>
    <div class='container'>
        <div id="page-title">
            <h1 data-text="Old Time Wasters"><span class="the">The </span>Old Time Wasters</h1>
        </div>
        {% comment %}
        <h2>{{ page.subheading }}</h2>
        {% endcomment %}
        <div class="background-disc"></div>
    </div>

    <!-- Spinning rays adapted from here -->
    <svg class="defs">
        <defs>     
            <radialGradient id="gr-radial-lights" cx="50%" cy="50%" r="35%">
                <stop stop-color="#b8cfd5" offset="5%" stop-opacity="1"/>
                <stop stop-color="#b8cfd5" offset="100%" stop-opacity="0"/>
            </radialGradient>
        </defs>
    </svg>

    <div class="demo demo--lights">
        <svg viewbox="0 0 1024 1024">
            <svg viewbox="0 0 640 640">
                <g transform="scale(1)">
                    <circle class="c-lights" r="64%" cx="50%" cy="50%"
                        stroke-width="128%" stroke-dasharray="10%"
                        stroke="url(#gr-radial-lights)"/>
                </g>   
            </svg>
        </svg>
    </div>

</header>
