<div class="nugget-container">
  <div class="row align-items-center justify-content-center">
    {% for video in site.videos %}
      {% if video.hidden %}
        {% comment %}
          Display nothing!
        {% endcomment %}
      {% else %}
        <div class="video-nugget nugget col-lg-6">
          <div class="video-box">
            <h3>{{ video.name }}</h3>
            {% include youtubePlayer.html id=video.youtubeID %}
            {{ video.content }}
          </div>
        </div>
      {% endif %}
    {% endfor %}    
  </div>
</div>
